<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <form action="/login" method="post" class="frm">
        <h3 class="login">LOGIN</h3>
        <div class="inputBox">
            <input type="text" id="user_email_address" name="user_email_address" required>
            <span>Email</span>
        </div>
        <div class="inputBox">
            <input type="text" id="user_password" name="user_password" required>
            <span>Password</span>
        </div>
        <button type="submit" class="sub">Login</button>
        <a href="/register" class="sub">Or Register</a>
    </form>
</body>
</html>