* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

nav{
  background-color: #222831;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
}

.nav {
  background-color: #222831;
  color: #ffffff;
  display: flex;
  height: 4rem;
  align-items: center;
  font-size: large;
  font-weight: 800;
}

.nav a{
  margin-left: 30px;
}

.links{
  color: #ffffff;
}

.selected{
  color: #00adb5;
}

table {
  width: 98%;
  margin: 1rem;
  border: 3px solid black;
  background-color: #393e46;
  color: #ffffff;
  border-collapse: collapse;
}

th {
  border-left-width: 3px;
  height: 3rem;
}

td {
  height: 3rem;
  color: #ffffff;
  padding-left: 1rem;
}

.data {
  background-color: #ffffff;
}

.row {
  color: #222831;
}

.hd {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frm{
    margin-left: 1rem;
}

.det{
    border-radius: 2rem;
    padding: .5rem;
    border: 1.5px solid black;
    margin: .3rem;
    width: 30rem;
    padding-left: .7rem;
    color: black;
}

.sub{
    text-transform: uppercase;
    background-color: #222831;
    color: #00adb5;
    font-size: medium;
    border-radius: 2rem;
    padding: .5rem;
    border: 1.5px solid black;
    margin: .3rem;
    text-transform: uppercase;
    width: 10rem;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-2{
    margin: 2rem;
}

.all{
  display: flex;
}


.col{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 33.3%;
  /* background-color: bisque; */
  height: 89.9vh;
  border-right: 3px solid black;
}

.not h3{
  margin: 2rem;
  border-radius: 2rem;
  color: #222831;
  background-color: #d84a4a;
  width: 10rem;
  height: 1.3rem;
  padding: 1rem;
  text-align: center;
}

.not div{
  background-color: #64403b;
  color: #ffffff;
}

.inprog h3{
  margin: 2rem;
  border-radius: 2rem;
  color: #222831;
  background-color: #1a93cf;
  width: 10rem;
  height: 1.3rem;
  padding: 1rem;
  text-align: center;
}

.inprog div{
  background-color: #2d4b5e;
  color: #ffffff;
}

.done h3{
  margin: 2rem;
  border-radius: 2rem;
  color: #222831;
  background-color: #0acb74;
  width: 10rem;
  height: 1.3rem;
  padding: 1rem;
  text-align: center;
}

.done div{
  background-color: #3e574a;
  color: #ffffff;
}

.statbx{
  border: 1px solid #222831;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
}

.auth{
  display: flex;
}